doctype html
html(lang='en')
  head
    title Timestamp Microservice
    meta(name='viewport', content='width=device-width, initial-scale=0.875')
    link(rel='stylesheet', href='/css/github-markdown.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .markdown-body!= markdownBody
